:is(.dev-selected, .dev-hover).dev-selected {
    border: rgba(0, 217, 255, 0.579) solid !important;
    user-select: none !important;
}
.dev-selected > * {
    border: rgba(71, 87, 90, 0.435) dashed 1px;
}

/* DEV HOVER */
.dev-hover {
    border: rgba(230, 0, 255, 0.579) solid !important;
}
.dev-hover > * {
    border: rgba(79, 71, 90, 0.435) dashed 1px;
}

#dev-body * {
    padding: 5px;
}