/* SELECTED*/

:is(.dev-selected, .dev-hover-center, .dev-hover-top, .dev-hover-left, .dev-hover-bottom, .dev-hover-right).dev-selected {
    outline: none !important;
    border: rgba(0, 217, 255, 0.579) solid !important;
    user-select: none !important;
}
.dev-selected * {
    outline: rgba(71, 87, 90, 0.435) dashed 1px !important;
}

/* HOVER */
.dev-hover-center {
    outline: rgba(230, 0, 255, 0.579) solid !important;
}
.dev-hover-top {
    outline: rgba(106, 0, 255, 0.579) dashed 2px;
    border-top: rgba(230, 0, 255, 0.579) solid !important;
}
.dev-hover-bottom {
    outline: rgba(106, 0, 255, 0.579) dashed 2px;
    border-bottom: rgba(230, 0, 255, 0.579) solid !important;
}
.dev-hover-left {
    outline: rgba(106, 0, 255, 0.579) dashed 2px;
    border-left: rgba(230, 0, 255, 0.579) solid !important;
}
.dev-hover-right {
    outline: rgba(106, 0, 255, 0.579) dashed 2px;
    border-right: rgba(230, 0, 255, 0.579) solid !important;
}
:is(.dev-hover-center, .dev-hover-top, .dev-hover-left, .dev-hover-bottom, .dev-hover-right) > * {
    outline: rgba(79, 71, 90, 0.435) dashed 1px;
}
/* ELEMENTS */
#dev-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: -8px;
}

#dev-body {
    margin-top: 5px;
    flex-grow: 1;
    min-height: 100%;
    height: fit-content;
}

#dev-body * {
    padding: 3px;
}
#dev-bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
/* CODE EDITORS */
.dev-editor {
    display: none;
    overflow-y: none;
    overflow-x: none;
    position: fixed;
    top: 10vh;
    left: 25vw;
    height:80vh;
    width: 50vw;
    background-color: black;
}

.dev-editor div.dev {
    height: 90%;
    max-height: fit-content;
    width: 100%;
}
div.dev-style-anim {
    height: 20%;
}
div.dev-style-main {
    height: 60%;
}

.dev-editor  h3 {
    color: white;
    display: inline-block;
    margin: 0;
}
.dev-editor > div {
    display:flex;
    justify-content: space-between;
}
.dev-editor-input, .CodeMirror {
    display: block;
    background-color: white;
    color: black;
    height: 100%;
    width: calc(100%);
    tab-size: 30px;
    resize: none;
}

#dev-properties {
    position: sticky;
    top: 0;
    right: 0;
    align-self: flex-start;
}

.cm-editor {
    width: 100%;
}